body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  background-image: url("../img/sitebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: fuchsia;
}

::selection {
  color: black;
  background: fuchsia;
}

nav {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

h1 {
  color: ivory;
  margin: 0;
  padding-left: 1rem;
  width: 20%;
  font-family: "Monoton", cursive;
  font-weight: 400;
  font-size: 2.5rem;
  top: 0;
  letter-spacing: 20px;
  display: inline-block;
}

#navLinks {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  flex-direction: row;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin: 0 70px 0 0;
  text-align: justify;
  border-bottom-style: none;
  padding: 0;
  letter-spacing: 0.5rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  /* border: 5px solid green; */
}

nav li a {
  color: ivory;
  text-decoration: none;
}

#navToBio {
  border-bottom: 3px solid fuchsia;
}

nav li a:hover {
  color: ivory;
  border-bottom: 3px solid fuchsia;
}

hr {
  width: 30%;
  margin-top: 5rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  height: 10px;
  background-color: fuchsia;
  border-style: none;
  border-radius: 15px;
}

.bioParagraph {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 20rem 0 20rem;
  color: black;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  padding: 10px;
  letter-spacing: 2px;
  border-radius: 15px;
}

#technologiesItems {
  text-decoration: none;
  border: 2px solid blue;
  list-style-type: none;
  color: black;
}

img {
  width: 15rem;
}

#projectsPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectsPage {
  border: 2px solid #e85a4f;
  border-radius: 10px;
  width: 300px;
  margin: 20px;
  text-align: center;
  background-color: #d8c3a5;
}

h2 {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

p {
  color: ivory;
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  text-align: justify;
  padding: 1rem;
}
